# Dependencies
#node_modules/
# Except bug-fix in antlr4
node_modules/*
!node_modules/antlr4
node_modules/antlr4/*
!node_modules/antlr4/tree
node_modules/antlr4/tree/*
!node_modules/antlr4/tree/Tree.js

# Compile output
lib/

# Log file
*.log
